.table{
    background-color: #ffb300;
}
.table td{
    width: 100px;
    height: 100px;
}
td{
    padding: 0;
}
.table .number{
    height: 60px;
    text-align: center;
    border: 0;
    font-weight: bold;
    font-size: 23px;
}
.number p{
    margin-bottom: 10px;
}
.col{
    width: 40px !important;
    font-weight: bold;
    font-size: 23px;
    text-align: right;
}
.col p{
    margin-right: 15px;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.calendar{
    font-weight: bold;
    width: 65%;
    margin: 50px auto;
}
.calendar table{
    width: 100%;
}
.calendar td{
    text-align: center;
    height: 50px;
}
.no-boder{
    border: 0;
}
.text-red{
    color: red;
}
.text-blue{
    color: blue;
}
.bg-red{
    background-color: red;
    color: white;
}
.bg-blue{
    background-color: blue;
    color: white;
}
.bg-orange{
    background-color: orange;
    color: white;
}
.padding-8px{
    padding: 8px 0;
}